.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #db8f8f;
    position: sticky;
    top: 0;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo img {
    height: 40px;
    margin-right: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-menu li {
    list-style: none;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-menu li a:hover {
    color: #007BFF;
  }
  

  
  .nav-user {
    display: flex;
    align-items: center;
    position: relative;
    
  }
  .user-menu{
    display: flex;
    gap: 1.2rem;
  }
  
  .profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ccc;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cart-icon {
    position: relative;
    margin-right: 15px;
  }
  
  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .dropdown {
    position: absolute;
    top: 71px;
    right: 14px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 150px;
    z-index: 10;
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown li:last-child {
    border-bottom: none;
  }
  